/* canvas Styles --------------------------------------------------------*/
#wrapper {
    height: 100%;
}
.canvas{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #0000CA;
    z-index: 800;
    position: relative;;
}
#logo_2{
    top:30%;
    left: 32%;
    position: absolute;
    width: 15%;
    z-index: 3;

}

#logo_3{
    top:26%;
    left: 40%;
    position: absolute;
    width: 30%;
    z-index: 1;
}
.dot_group{
    left:52%;
    top:12%;
    position: absolute;
    width: 25%;
    z-index: 2;
}
#mouse-icon{
    width:20px; 
    height:28px;
    display:block;
    margin:-20px 0 0 -7px;
    border:1.5px solid #fff;
    position:absolute;
    z-index:700; 
    bottom:30px;
    left:53%;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -o-border-radius:8px;
    border-radius:8px;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

#scroll-wheel{
    width:3px;
    height:4px;
    display:block;
    position:absolute;
    top:5px;
    left:8.5px;
    background:#fff;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    -webkit-animation: scrollWheel 1s linear infinite;
  -moz-animation: scrollWheel 1s linear infinite;
  -o-animation: scrollWheel 1s linear infinite;
  animation: scrollWheel 1s linear infinite;
}

@-webkit-keyframes scrollWheel {
  0%   { top:5px; opacity:1; }
  100% { top:20px; opacity:0; }
}

@-moz-keyframes scrollWheel {
  0%   { top:5px; opacity:1; }
  100% { top:20px; opacity:0; }
}

@-o-keyframes scrollWheel {
  0%   { top:5px; opacity:1; }
  100% { top:20px; opacity:0; }
}
/* section --------------------------------------------------------*/
.section{
  height: 100%;
  background-color: #fafafa;
}

/* grid --------------------------------------------------------*/

.project-grid{
  background-color: white;
  margin-left: 80px;
  position: absolute;
}

.tnframe {
  float: left;
  position: relative;
  width: 32%;
  margin:1%;
  outline:5px solid #E0E0E0;
  outline-offset: -5px;
}

.tnframe:nth-child(1){

  margin-left: 0px;

}
.tnframe:nth-child(3n+0){

  margin-right: 0px;

}
.tnframe:nth-child(4n+0){

  margin-left: 0px;

}

.tnimg {
  display: block;
  width: 100%;
  height: auto;
}
.tn-name{
  color: #3D3D3D;
  text-align: center;
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
}
.tn-text{
  color: #A8A8A8 ;
  text-align: center;
  font-size: 0.75em;
  font-family: 'Open+Sans', sans-serif;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .3s ease;
}

.tnframe:hover .overlay {
  bottom: 0;
  height: 100%;
}
.tntext {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/* Media Queries --------------------------------------------------------*/
@media(max-width:1000px) {
    .tnframe {
      width: 48%;
      margin:.5%;
    }

    #logo_2{
        top:35%;
        left: 32%;
        position: absolute;
        width: 15%;
        z-index: 3;

    }

    #logo_3{
        top:25%;
        left: 40%;
        position: absolute;
        width: 30%;
        z-index: 1;
    }
    #dot_group{
        left:52%;
        top:20%;
        position: absolute;
        width: 25%;
        z-index: 2;
    }

}
@media(max-width:600px) {
    .project-grid{
      margin-left: 0px;
    }

    #logo_2{
    top: 38%;
    left: 16%;
    width: 150px;
    }

    #logo_3{
        top: 30%;
        left: 28%;
        width: 275px;
    }

    #dot_group{
        top: 13%;
        left: 55%;
        width: 180px;
    }
    .tnframe {
      width: 98%;
      margin: 1%;
    }

}
@media(max-width:500px) {

    #logo_2{
        top: 38%;
        left: 12%;
        width: 150px;
    }

    #logo_3{
        top: 30%;
        left: 15%;
        width: 275px;
    }

    #dot_group{
        top: 13%;
        left: 45%;
        width: 180px;
    }
    
}