html,body {
    height:100%;
    margin: 0;
 }


/* text Styles --------------------------------------------------------*/
.protitle{
    margin: 0;
    margin-left: 46px;
    display: inline-block;
    color: #0000CA;
    font-weight: 600;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    visibility: hidden;
    position: relative;
    line-height: 48px;
}
.prolist{
  height: 48px;
  display: block;
}
.prolist:hover .protitle {
  opacity: .8;
}
.protitle:visited {
  visibility: hidden;
}
.protitle::before{
  position: absolute;
  bottom:10%;
  z-index:-1;
  background: #1FEAFF;
}
.prolist:hover .protitle::before{
  content:'';
  width:100%;
  height: 30%;
  animation: strike 500ms forwards;
}

@keyframes strike{
  0%{
    transform: scaleX(0);
    transform-origin:left;
  }
  50%{
    transform: scaleX(1);
    transform-origin:left;
  }
  60%{
    transform: scaleX(1);
    transform-origin:right;
  }
  100%{
    transform: scaleX(1);
    transform-origin:right;
  }
}

h1{
    color:white;
}
p{
    color:white;
}
.copyr{
    color: #adadad;
    font-size: .7em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 48px;
}

/* Toggle Styles --------------------------------------------------------*/
#wrapper {
    padding-left: 250;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    width: 80px;
    left: 250px;
    height: 100%;
    margin-left: -250px;
    overflow: hidden;
    background: rgba(255,255,255,1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper:hover {
    width: 360px;
    background: rgba(255,255,255,1);
    /* border-radius: 0px 400px 400px 0px; */
}

#sidebar-wrapper:hover .dot {
    background: #0000CA;
}

.prooverlay{
  background-color: #0000CA;
  width: 100%;
  height: 100%;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  transition: opacity .5s;
  }

#sidebar-wrapper:hover ~ .prooverlay {
  visibility: visible;
  opacity: .9;
}

#sidebar-wrapper:hover .protitle {
    visibility: visible;
    -webkit-animation :show .5s ease-in-out;
}

@-webkit-keyframes show{
  from   {opacity:0;}
  to  {opacity:.8;}
  }

#page-content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Sidebar Styles --------------------------------------------------------*/
.proline{
    display:inline-block; 
    vertical-align: middle; 
    margin-left:15px;
    border-top: 2px solid #1FEAFF;
    /*border-top: 2px solid black;*/
}

#about {
    position: absolute;
    bottom:13%;
    left:6px;
    transform: rotate(-90deg)
}
#about a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: .8em;
    letter-spacing: 4px;
    text-decoration: none;
    color: #0000CA;
}
#about a:hover{
  opacity: .6;
}

.sidebar-nav {
    position: absolute;
    top: 26%;
    width: 360px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dot {
    height:8px;
    width:8px;
    display: inline-block;
    background: #000000;
    vertical-align: text-top;
    -webkit-animation: loadanimation .5s;
}
.prolist:hover .dot {
    transform: scale(1.5);
    background: #554c4c;
}

@keyframes loadanimation {
  0% {
    transform: translateY(15px) scale(0);
    opacity: 0;
  }
  
  50% {
    transform: translateY(6px) scale(0.2);
  }
  
  95% {
    transform: translateY(1px) scale(1.5);
  }
  
  100% {
    transform: translateY(0) scale(1) opacity 1;
    opacity: 1;
  }
}
.animate .dot {
  animation-name: loadanimation;
}

.dot2{
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.dot3{
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.dot4{
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.dot5{
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.dot6{
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.dot7{
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.dot8{
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.dot9{
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}


.sidebar-nav li {
    margin-left: 35px;
    height: 48px;
}

#sidebar_logo a > img {
    position: fixed;
    z-index: 2000;
    top:8%;
    left:22px;
    height:35px;
    width:35px;
    color: #0000CA;
}


#sidebar_logo a:hover {
    opacity: .6;
}

.footer{
    width: 100%;
}

/* Loader --------------------------------------------------------*/
#loader {
          width: 30px;
          height: 30px;
          border: 4px solid #0000CA;
          animation: loader 2s infinite ease;
          position: absolute;
          left: 50%;
          top: 41%;
          z-index: 1;
        }
        .loader-inner {
          vertical-align: top;
          display: inline-block;
          width: 100%;
          background-color: #0000CA;
          animation: loader-inner 2s infinite ease-in;
        }

        @keyframes loader {
          0% {
            transform: rotate(0deg);
          }
          
          25% {
            transform: rotate(180deg);
          }
          
          50% {
            transform: rotate(180deg);
          }
          
          75% {
            transform: rotate(360deg);
          }
          
          100% {
            transform: rotate(360deg);
          }
        }

        @keyframes loader-inner {
          0% {
            height: 0%;
          }
          
          25% {
            height: 0%;
          }
          
          50% {
            height: 100%;
          }
          
          75% {
            height: 100%;
          }
          
          100% {
            height: 0%;
          }
        }
/* Media Queries --------------------------------------------------------*/
@media(max-width:600px) {

    #sidebar-wrapper {
        width: 0;
    }

    .protitle{
    margin-left: 10%;
    }
    .footer{
        width: 100%;
        height: 100;
    }

    
}
